* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: rgb(247, 246, 244);
  }
  
  h2 {
    color: rgb(66, 44, 15);
    
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .table {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    position: relative;
    text-align: center;
  }

  /* Container holding the register text */
.container {
    position: relative;
    text-align: center;
    color: rgb(80, 51, 51);
  }
  

.aboutme {
    max-width: 8000px;
    margin-right: 214px;
}
  
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  

  
  /* Makes all unvisited links purple with no text decoration (i.e. not underlined)*/
  a:link {
    color: purple;
    text-decoration: none;
  }
  
  /* Makes all visited links gray and with a line through */
  a:visited {
    text-decoration: line-through;
  }
  
  /* Makes links purple and bold when hovered over */
  a:hover {
    color: rgb(245, 189, 245);
    font-weight: bold;
    background-color: rgb(100, 144, 195);
  }
  
  a:active {
    color: rgb(245, 189, 245);
    font-weight: bold;
    padding: 4px;
  }
  
  nav {
    background-color: rgb(80, 80, 56);
    display: flex;
    justify-content: center;
    height: 50px;
    justify-items: center;
    align-items: center;
  }